block(contacts)
    display: flex
    justify-content: center

    margin: 0 0 20px

    list-style: none

    elem(contact)
        margin-right: 30px

        &:last-child
            margin-right: 0

        mod(type phone)
            elem(link)
                &:link
                    color: #000 !important

    elem(link)
        &:link
            text-decoration: none

            color: rgb(44, 151, 222)

        &:hover
            color: #000
