block(project-state)
    font-size: 11px
    line-height: 28px

    padding: 0 15px

    text-transform: uppercase

    color: white
    border-radius: 14px

    mod(process)
        background: rgb(44, 151, 222)

    mod(complete)
        background: rgb(30, 206, 109)

    mod(planning)
        color: #000
        background: white

