@import url(https://fonts.googleapis.com/css?family=Roboto);

:block(page) {
    font: 15px Roboto, sans-serif;

    /*max-width: 1920px;*/

    margin: auto;
    padding: 0;

    elem(head) {
        padding: 0 150px;
    }
}
