block(page-title) {
    position: relative;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 1);

    &:after {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background-color: rgba(0, 0, 0, 0.5);
    }

    elem(state) {
        position: absolute;
        z-index: 4;
        top: 125px;
        left: 50%;

        transform: translate(-340px, 0);
    }
}
