block(social)
    elem(link)
        mod(channel tw)
            background: rgb(217, 217, 217) url(social__link_channel_tw.svg)

            &:hover
                background-color: rgb(78, 174, 233)
