block(social)
    elem(link)
        mod(channel vk)
            background: rgb(217, 217, 217) url(social__link_channel_vk.svg)

            &:hover
                background-color: rgb(71, 117, 161)
