.nav
{
    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 18px;
    color: #0ac;
}

.nav__item
{
    display: inline-block;

    margin: 0 4px;
    padding: 0 10px;

    line-height: 40px;
}

.nav__item_current
{
    color: #fff;
    background: #007722;
}

.nav .link
{
    display: block;

    color: #000;

    text-decoration: none;
}
