block(page-title).elem(text) {
    font-size: 42px;

    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 40px;

    width: 100%;
    max-width: 680px;
    margin: 0;

    transform: translate(-50%, 0);

    color: white;
}
