block(nav)
    font-size: 18px

    display: flex
    justify-content: flex-end

    margin: 0
    padding: 0

    list-style: none

    color: rgb(0, 170, 204)

    elem(item)
        line-height: 44px

        margin: 0 20px

        mod(current)
            color: rgb(26, 175, 93)
            border-bottom: 3px solid rgb(26, 175, 93)

    elem(link)
        display: block

        text-decoration: none

        color: #000
