block(text)
    padding-top: 15px

    elem(p)
        line-height: 1.5

        margin: 25px 0

    elem(link)
        &:link
            text-decoration: none

            color: rgb(44, 151, 222)

        &:hover
            color: #000
