:block(footer) {
    border-top: 1px solid rgb(217, 217, 217);
    margin: 40px 0 60px 0;
    padding-top: 40px;
}

/*
:block(footer) {
    position: relative;

    clear: both;

    height: 30px;
    padding: 90px 0 35px;

    &::before
    {
        position: absolute;
        top: 60px;


        display: block;
        content: "";

        width: 100%;

        border-top: 1px solid #000;
    }

    &:elem(contacts) {
        display: inline-block;

        width: 30%;
    }

    &:elem(bank-details) {
        display: inline-block;

        width: 30%;
    }

    &:elem(social) {
        display: inline-block;

        width: 40%;
    }
}
*/
/*
@media (max-width: 768px) {
.footer {
    width: 728px;
}
}
.projects-columns-text {
    padding: 0 5px;
}
.footer__info {
    display: inline-block;
    float: left;
    margin: 0 0 30px 10px;
    white-space: nowrap;
    width: 35%;
}
.footer__link {
    color: #d23e33;
    display: block;
}
.footer__contacts {
    margin-bottom: 5px;
    min-width: 250px;
}
@media (min-width: 1015px) {
.footer__contacts {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    white-space: normal;
}
.footer__banking {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    white-space: normal;
}
.footer__info {
    min-width: 480px;
}
}
.socials {
    float: left;
    margin: 0 0 0 6%;
    width: 33%;
}
@media (max-width: 1000px) {
}
.socials__link {
    color: #d23e33;
    display: inline-block;
    height: 27px;
    padding: 2px 0 0 35px;
}
.socials__link_type_vk {
    background: url("./img/socials.png") no-repeat scroll left -35px rgba(0, 0, 0, 0);
}
.socials__link_type_fb {
    background: url("./img/socials.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 0 7%;
}
.socials__link_type_odnoklasniki {
    background: url("./img/socials.png") no-repeat scroll left -70px rgba(0, 0, 0, 0);
    margin: 0 0 0 7%;
}
@media (max-width: 1350px) {
.socials {
    width: 20%;
}
.socials__link_type_fb {
    display: block;
    margin: 0;
}
.socials__link_type_odnoklasniki {
    display: block;
    margin: 0;
}
}
.copyright {
    float: right;
    margin: 0 10px 0 0;
}
@media (max-width: 1275px) {
.copyright {
    width: 130px;
}
}
*/
