block(social)
    display: flex
    justify-content: center

    list-style: none

    margin: 0

    elem(link)
        width: 40px
        height: 40px
        margin-right: 12px

        display: inline-block
        text-indent: -9999px

        border-radius: 20px
        transition: all 0.3s
