block(news)
    margin-top: 60px

    elem(list)
        display: flex
        flex-wrap: wrap
        align-items: baseline

    elem(title)
        font-size: 30px
        font-weight: normal

        margin-bottom: 0

    elem(date)
        font-size: 13px

        box-sizing: border-box
        min-width: 25%
        padding-right: 15px

        color: rgb(153, 153, 153)

    elem(description)
        flex: 1

        min-width: 75%
        margin-top: 30px
        margin-left: 0
