:block(page-head) {
    display: flex;
    align-items: center;

    height: 80px;

    elem(logo) {
        flex: 1;

        margin: 0 22px 0 15px;
    }

    elem(nav) {
        font-size: 18px;

        display: flex;
        flex: 10;
        justify-content: flex-end;

        block(nav).elem(item) {
            margin: 0 20px;

            line-height: 44px;

            &:mod(current)
            {
                color: rgb(26, 175, 93);
                border-bottom: 3px solid rgb(26, 175, 93);
            }
        }

        block(nav).elem(link) {
            display: block;

            text-decoration: none;

            color: #000;
        }
    }
}
